*{
    margin:0;
    padding:0;
    font-family: "Arial Black", arial-black;
}
.btn-start{
	position: absolute;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
}
.element{
    position: absolute;
}
.player{
    background-repeat: no-repeat;
}
.hitbox{
    background-image: none !important;
    background-color: #00ffff;
    opacity: 40%;
}
.punchhitbox{
    background-image: none !important;
    background-color: #2bff00;
    opacity: 40%;
}
.projectilehitbox{
    background-image: none !important;
    background-color: #ff6123;
    opacity: 40%;
}

#fight{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
	display: flex;
	justify-content: center;
}
.elements  {
    position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 10%;
	right: 10%;
    width: 80%;
    height: 100%;
}

.game-border{
	background-color: #000;
	width: 10%;
	height: 100%;
	position: absolute;
}
.floor{
    background-size: 10px 10px;
    background-image: url("../layout/assets/img/banana.png");
}
.background{
    /* background-size: 10px 10px;
    transform: skew(-75deg); */
	background-size: 100% 100%;
	background-image: url("../layout/assets/img/background.jpg");
}
.testenemy{
    background-size: 200px 200px;
}
.dad{
	background-size: 100%;
}
.info{
    background-image: none !important;
    width: 600px !important;
    height: 250px;
    display: flex;
    position: absolute;
}
.info div {
    position: relative;
    display: inline-block;
    width: 200px;
}

.healthbar {
    background-color: red;
	background-image: url("../img/inner-healthbar.png");
}
.outer-healthbar {
	background-image: url("../img/outer-healthbar.png");
}
.xraybar {
    background-color: darkorange;
	background-image: url("../img/inner-xraybar.png");
}
.outer-xraybar {
	background-image: url("../img/outer-xraybar.png");
}
.watcher {
	background-size: 101px 190px;
}